h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans Narrow', sans-serif;
  position: relative;
}

.title-headers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.title-headers p {
  margin: 0 5px;
}

.fa-github, .fa-linkedin-in {
  font-size: 30px;
  margin: 5px;
}

.links {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.main-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.graph1-container, .graph2-container, .news-list-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
  margin: 20px;
}

#graph1, #graph2 {
  width: 100%;
  height: 80%;
  position: relative;
  padding-right: 20px;  
}

.game-name {
  font-size: 14px;
  fill: black;
}

.ticks line, .ticks path {
  stroke: lightgray;
}

.ticks {
  stroke: black;
  font-size: 14px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 150px;
  word-break: break-word;
  z-index: 10;
}

.tooltip p {
  font-weight: 700;
  margin-top: 10px;
}

.news-list-container img {
  width: 100%;
  object-fit: contain;
  align-self: center;
  overflow: auto;  
  display: flex;
  flex-direction: column;
  color: black;
  margin: 10px 0;
}

.stream-list-container {
  height: 50%;
  width: 100%;
  overflow: auto;  
  display: flex;
  flex-direction: column;
  color: black;
}

.stream-list-container a {
  color: #4C3777;
}

.query-container {
  display: flex;
  justify-content: center;
}

.query-container form > * {
  margin: 5px;
}

body > h1, body > h2 {
  text-align: center;
  margin: 10px 0;
}

.news-list-container {
  border: 1px solid #4C3777;
  justify-content: space-evenly;
}

#graph1 svg, #graph2 svg {
  overflow: visible;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.graph2-container h2, .graph1-container h2 {
  margin: 10px 0;
}

body > h2 {
  font-size: 32px;
  margin: 0;
}

#graph2-select {
  display: inline-block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}